@{
    ViewBag.Title = "Error";
}
<div class="container-fluid">
    <div class="body-content">
        <div id="page">
            @Html.Partial("_Alert")
            <div class="jumbotron">
                <h1>500</h1>
                <p>Blah!</p>
            </div>
        </div>
    </div>
</div>