<footer class="footer">
    <div class="container-fluid">
        <p class="text-muted pull-right"><b>@ViewBag.AppName</b> | @ViewBag.AppVersion | @ViewBag.AppEnvironment | @ViewBag.CompanyName</p>
    </div>
</footer>
