@{
    ViewBag.Title = "Contact";
}
<div class="container-fluid">
    <div class="body-content">
        <div id="page">
            <div class="well">
                <h4><b>Contact</b></h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
