@{
    ViewBag.Title = "Home";
}
<div class="container-fluid">
    <div class="body-content">
        <div id="page">
            <div class="jumbotron">
                <h1>Home</h1>
                <p>Blah!</p>
            </div>
        </div>
    </div>
</div>